* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;

  &:link,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

ul {
  li {
    list-style: none;
  }
}