//Font URL's
$urlFontIcons: "../fonts/icons.woff";
$urlFontIcons2: "../fonts/icons.woff2";
$urlFontBebas: "../fonts/BebasNeue.woff";
$urlFontBebas2: "../fonts/BebasNeue.woff2";
$urlFontOpen: "../fonts/OpenSans-Regular.woff";
$urlFontOpen2: "../fonts/OpenSans-Regular.woff2";

//Img URL's
$urlImgScreen1: "../img/background/bg_main.jpg";
$urlImgScreen2: "../img/background/bg_battle.jpg";
$urlImgScreen3: "../img/background/bg_features.jpg";
$urlImgScreen4: "../img/background/bg_system.jpg";
$urlImgScreen5: "../img/background/bg_reviews.jpg";

//Img Slider
$urlImgSlider1: "../img/screen2/slide-1.png";
$urlImgSlider2: "../img/screen2/slide-2.png";
$urlImgSlider3: "../img/screen2/slide-3.png";

//Colors
